@inject IJsonHelper Json;
@model BookLibrary.aspnetcore.UI.Features.Author.AuthorViewModel
<div class="row">
   <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AuthorName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AuthorName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.About)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.About)
        </dd>
    </dl>
</div>

<h4>Books</h4>
<hr />

<table class="table table-striped table-hover" id="booksTable" width="100%" cellspacing="0"></table>

@Html.Hidden("BookList", Html.Raw(Json.Serialize(Model.Books)))

<script src="~/js/dist/Features/Author/details.js"></script>

