@model BookLibrary.aspnetcore.UI.Models.BookViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Book Details</h2>

<div class="row">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PublishDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PublishDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Language)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Language)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ISBN)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pages)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pages)
        </dd>
        <dt>            
            @Html.DisplayNameFor(model => model.AuthorName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AuthorName) 
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PublisherName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PublisherName)
        </dd>
    </dl>
</div>
<br />
<div class="form-group">
    <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model.ID" data-toggle="tooltip" title="Edit">Edit</a>
    <a class="btn btn-primary" asp-action="Index"  data-toggle="tooltip" title="Cancel">Cancel</a>
</div>
